body{margin: 0; padding: 0;}

header{width: 100%; height: auto; float: left;}
.menu {width: 100%; height: 60px; background-color: #fff;}

.menu ul{width: 100%; height: auto; list-style: none;float: left; text-align: center; padding: 0px; margin:0px; }

.menu ul li{display: inline-block; margin-right: 20px; font-family: 'Sumana',serif; font-weight: 700;}

.menu ul li:last-child{margin-right: 0px;}

.menu ul li a{text-decoration: none; color:#939393;}

.menu ul li a:hover{color:#f44336; border-bottom: 1px solid #f44336;}

.menu ul li img{width: 110px; height:40px; margin-top: 10px; }

.banner{width: 100%; height: 450px; background-image: url('../img/banner.jpg'); background-position: center; background-repeat: no-repeat; background-size: 100%; text-align: center;}

.banner h2{color:#fff; font-family: 'Josefin Sans',sans-serif; font-size: 20pt; margin: 0px; text-align: center; display: inline-block; width: 100%; margin-top: 200px;}

.banner span{width: 150px; height: 5px; background-color: #fff; float: left; display: inline-block; }
